        </div><!-- /.container -->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy;<strong><Icon type="smile" /> //Strona zaprojektowana i stworzona przez Michała Borkowskiego®: email = mike.borkowski87@gmail.com
		//Website projected and developed by Michal Borkowski®: email = mike.borkowski87@gmail.com</strong>  <a href="/bieganie">Home</a> | <a href="/bieganie/nowy">Nowy Post</a></p>
          </div>
        </footer>
        <!-- jQuery CDN -->
		<script src="/js/functions.js"></script>

    </body>
</html>