<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Area</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminstyle.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="/style/center.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="models/JQuery/jquery-2.1.4.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" target="_blank"> Biegacz and Zwiedzacz</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav  nav nav-tabs">
             <li><a class="navbar-brand" href="/bieganie">Menu</a>
             <% if(!currentUser){ %>
    		 <li class="nav-item">
				  <a class="navbar-brand" href="/login">Log-in</a>
     		 </li>
          	  <li class="nav-item">
     			   <a class="navbar-brand" href="/registrar">Register</a>
    		  </li>
       		 <% } else { %>
				<em><li class="nav-item"><a href= "£" class ="navbar-brand" >Zalogowany jako <%= currentUser.username %> </a></li></em>
			  <li>
      		 	 <a class="navbar-brand" href="/logout">Log-out</a>
    		  </li>
			  <% } %>
	
   			  <li class="nav-item">
      			  <a class="navbar-brand" href="/start/shop">Sklep</a>
    		 </li>
		
			 <li class="nav-item">
    			    <a class="navbar-brand" href="/registrar">Biegi</a>
    		 </li>
			  
			   <li class="nav-item">
        <a class="navbar-brand" href="/registrar">Sponsorzy</a>
     </li>
		
     <li class="nav-item">
        <a class="navbar-brand" href="/registrar">Media</a>
      </li>
		
	 <li class="nav-item">
        <a class="navbar-brand" href="/registrar">Kontakt</a>
     </li>
			  
			</ul>
			
			    <ul class="nav navbar-nav navbar-right">
                <form class="form-inline my-2 my-lg-0">
    			  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    			  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    </form>
          </ul>
			<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			  <li class="nav-item">
		<a href="https://www.facebook.com/biegaczizwiedzacz/" class="fa fa-facebook"></a>
     </li>
		
	
			  
			  <li class="nav-item">
		<a href="https://www.instagram.com/biegacz_i_zwiedzacz/" class="fa fa-instagram"></a>
     </li>
		
			
	<li class="nav-item">
		<a href="/registrar" class="fa fa-twitter"></a>
    </li>
		
	<li class="nav-item">
		<a href="/registrar" class="fa fa-android"></a>
     </li>
		
	<li class="nav-item">
		<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fjoin.skype.com%2Finvite%2FoectX2mjFLdF%3Ffbclid%3DIwAR1ugVE2tkAvOE5PvW5Ya7SgTZwwHxrTKkSJS3vQtfh0R1Fpc7IFS7mQXcA&h=AT38lBXkkjZHUotvb5cjF00idasOUhWY9K7VIxFJf40OAziJee7Hao8KNBjrmB7G28U-HfdTHpbRR3ThuvR0_zkkeHWsQGf5LLuZ_USo72KmpyEzkf7WHH2TpFkocJsHsqiQxQ" class="fa fa-skype"></a>
     </li>
		
			
	<li class="nav-item">
		<a href="https://www.youtube.com/channel/UCSzr-sWq8lqrXBV_UdGx4rg?view_as=subscriber&fbclid=IwAR0Vi3FoAJwWgU3mumF7_WghNes_TMk7CAOeK3JoDiD9p8XcBMsjpbtULrY" class="fa fa-youtube"></a>
    </li>
		
	<li class="nav-item">
		<a href="/registrar" class="fa fa-linkedin"></a>
     </li>
		
	<li class="nav-item">
		<a href="/registrar" class="fa fa-google"></a>
     </li>
					<li class="nav-item">
		<a href="/registrar" class="fa fa-apple"></a>
     </li>
  			</ul>
			</div>
      </div>
    </nav>

	
<div class="container">
	<% if(message && message.length > 0){ %>
	<div class="alert alert-danger" role="alert">
 	<h4><%= message %></h4>
	</div>
	<% } %>
	
	<% if(move && move.length > 0){ %>
	<div class="alert alert-secondary" role="alert">
 	<h4><%= move %></h4>
	<% } %>
	</div>
		
	<% if(extra && extra.length > 0){ %>
	<div class="alert alert-success" role="alert">
 	<h4><%= extra %></h4>
	<% } %>
	</div>
</div>	
	
		