body{
  background: -webkit-linear-gradient(90deg, #05A9D1 10%,  #011930 90% ); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #05A9D1 10%,  #011930 90% ); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #05A9D1 10%,  #011930 90% ); /* IE10 */
  background:      -o-linear-gradient(90deg, #05A9D1 10%, #011930 90% ); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #05A9D1 10%,  #011930 90% ); /* W3C */
}

.jumbotron{
  background: -webkit-linear-gradient(90deg,  #FFFFFF 20%, #CDCDCD 80%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg,  #FFFFFF 20%, #CDCDCD 80%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg,   #FFFFFF 20%, #CDCDCD 80%); /* IE10 */
  background:      -o-linear-gradient(90deg,  #FFFFFF 20%, #CDCDCD 80%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FFFFFF 20%, #CDCDCD 80%); /* W3C */
}

.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding: 20 px;
}

.container img{
	width: 100%;
}

#delete {
	display: inline;
}

.delete {
	display: inline;
}

.fa {
  padding: 20px;
  font-size: 100px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  border-color:red;
  border-width: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #FFDEAD;
  color: primary;
}

/* Twitter */
.fa-twitter {
  background: #FFDEAD;
  color: primary;
}

.fa-instagram {
  background: #FFDEAD;
  color: primary;
}

.fa-skype {
  background: #FFDEAD;
  color: primary;
}
.fa-android {
  background: #FFDEAD;
  color: primary;
}
.fa-youtube {
  background: #FFDEAD;
  color: primary;
}
.fa-linkedin {
  background: #FFDEAD;
  color: primary;
}
.fa-google {
  background: #FFDEAD;
  color: primary;
}
.fa-apple {
  background: #FFDEAD;
  color: primary;
}