
body{
  background: -webkit-linear-gradient(90deg, #05A9D1 10%,  #011930 90% ); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #05A9D1 10%,  #011930 90% ); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #05A9D1 10%,  #011930 90% ); /* IE10 */
  background:      -o-linear-gradient(90deg, #05A9D1 10%, #011930 90% ); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #05A9D1 10%,  #011930 90% ); /* W3C */
}

.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-hightlight {
    border: 1px dashed #ccc;
}

#imgPreview {
    margin: 20px;
}

#noimage {
    width: 100px;
    height: 100px;
}

ul.gallery {
    padding: 0;
}

ul.gallery li:first-child {
    margin-left: 0;
}

ul.gallery li {
    margin: 20px;
    display: inline-block;
    list-style: none;
}

table.alignmiddle td {
    vertical-align: middle !important;
}